* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

body {
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  width: 800px;
}

canvas#chart {
  max-width: 100%;
}

.row-controls {
  min-width: 120px;
}
